.header{ 
	/*border-style: solid; */
	border-width: 10px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.names{ 
	font-size: 24px; 
}
.names1{ 
	font-size: 24px;
	text-align: left;

 }

.content{ 
	/*border-style: solid;*/
	border-width: 10px; 
	padding: 10px; 
 }
 .steps{ 
	border-style: solid;
	border-width: 8px; 
	padding:10px; 
}

.img{ 
	width: 600px;
	height:450px;
	display: block;
	margin-left: auto; 
	margin-right: auto;

  }
.back{ 
	text-align: left;
	font-size: 12px;
}

.section{ 
	border-style: solid; 
	border-width: 8px;
	border-color: black;  }

form{ 
	padding: 10px;
}

button{ 
	font-size: 20px; 
}

a{ 
	font-size: 35px; 
	font-weight: bold; 
	text-align: center;
}

 h3{ 
	font-weight: bold;
	font-size: 35px;
	text-align: center; 
}

h2{ 
	text-align: center;
	font-size: 30px;
  }

p{ 
	font-size: 20px;
 }